<body>
	<%= render 'layouts/navbar_top' %>
	<div class="container form-padding">
		<div class="row">
		  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<%= render "form" %>
			</div>
		</div>
	</div>
</body>
