<body>
	<%= render 'layouts/navbar_top' %>
	<div class="container form-padding">
		<div class="border-form-div">
			<h2>Editing <%= @user.name %></h2>

			<%= render "form" %>

		</div>
	</div>
</body>
<%= render "layouts/footer" %>
