<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <header>
      <h2>
        <% if current_user %>
          <%= "Come on #{@current_user.name}," %><br>
          fix the errors.
        <% else %>
          Please correct the following <%= pluralize(@user.errors.count, "error") %>:
        <% end %>
      </h2>
    </header>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- use bootstrap -->