<header id="page-header">	
	<h1>Edit "<%= @player.name %>"</h1>
</header>

<br />

<body class="edit">
	
	<img>
		<%= image_tag "rnc.png" %>
	</img>

	<%= render "form" %>

</body>

<%= render "layouts/footer" %>
