<body>

    <div class="container" id="top">
        <%= image_tag("logo2.png", class: "header") %>
    </div>

    <!-- <header id="top" class="header"></header> -->

    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <%= link_to news_path do %>
                    <span class="fa fa-newspaper-o" 
                    style="font-size: 3em; color: #000000"></span>
                <% end %>
                <h3>RnC News</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <%= link_to players_path do %>
                    <span class="glyphicon glyphicon-user" 
                    style="font-size: 3em; color: #000000"></span>
                <% end %>
                <h3>Meet the players</h3>
            </div>
        </div>
        <hr>
    </div>

</body>

<%= render '/layouts/footer' %>
