<header id="home-header">
	<h1>Welcome to Rush N Catch</h1>
</header>
<br />
<body class="index">
	<img>
		<%= image_tag("practice.png") %>
	</img>
</body>
<br />
<footer id="home-footer">
	<h1><%= link_to("Meet the Players", players_path) %></h1>
</footer>
