<header>
	<h1>Players</h1>
</header>

<body class="roster">
	
	<%= render "layouts/sidebar" %>

  <% @players.each do |p| %>
    <img>
	    <%= link_to(find_pic(p), player_path(p)) %>
	  </img>
	  <br />
  <% end %>
		
</body>

<%= render "layouts/footer" %>
