@import "colors";

header#home-header {
	text-align: center;
	color: $rnc_yellow;
	background-color: $rnc_navy;
	padding: 30px;
	border-style: solid;
	border-color: $rnc_yellow;
	border-width: 5px;
}

footer#home-footer {
	text-align: center;
	color: $rnc_navy;
	background-color: $rnc_yellow;
	padding: 30px;
	border-top: 10px solid $rnc_navy;
}

header#page-header {
	text-align: center;
	color: $rnc_yellow;
	background-color: $rnc_navy;
	padding: 3px;
	border-style: solid;
	border-color: $rnc_yellow;
	border-width: 5px;
}

footer#copyright {
	text-align: center;
	color: $rnc_navy;
	background-color: $rnc_yellow;
	padding: 3px;
	border-top: 10px solid $rnc_navy;
}

aside#sidebar {
	float: right;
  width: 200px;
  text-decoration: none;
  background-color: lighten($rnc_yellow, 43%);
}










