$light_navy: #171431;
$dark_navy: #131127;
$rnc_orange: #FCB525;

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Header */

.header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Footer */

footer {
    padding: 100px 0;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

/* CAROUSEL */

.carousel-inner .item {
    img {
        margin: auto;
        width: 500px;
        height: 500px;
    }
}

/* ALERT */

.alert.alert-custom {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    text-align: center;
}

/* BLOG */

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
