// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

body.show {
	h1 {
		text-align: center;
	}
  p {
  	font-family: arial;
  }
  table {
  	text-align: center;
    font-family: arial;
    th {
    	color: $rnc_navy;
    }
    td {
    	color: $rnc_yellow;
    }
  }
  img {
  	width: 30%;
	 }
 }

body.index {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

body.roster {
	img {
		display: block;
		width: 20%;
	}
}

body.edit {
	img {
		float: right;
	}
}

/* FLASHES */

.flash {
  color: $primary-text-color;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: #ffc 0 0 4px;
  
  &.notice {
    background-color: $flash-notice-color;
  }

  &.alert {
    background-color: $flash-alert-color;
  }
}

/* ERRORS */
	
section#errors {
  margin: 1em 0;
  padding: 1em;
  background: $errors-background-color;

  h2 {
    color: $errors-text-color;
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    margin: .5em 0;
    font-weight: bold;
  }
}







