<!DOCTYPE html>
<html>
  <head>
    <title>Rush N Catch</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <!-- jQuery -->
    <script href="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script href="assets/js/bootstrap.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript">

    // Carousel
    $(document).ready(function() {
        $('.carousel').carousel({
          interval: 2000
        })
    });

    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    </script>
    
</html>
